<h1>Chat Room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form id="message-form">
  <div>
    <textarea name="message[content]" rows="3" placeholder="Ketik pesan..."></textarea>
  </div>
  <div>
    <button type="submit">Kirim</button>
  </div>
</form>
